/**
 * Module Dependencies
 */
const {{name}}Service = require('../services/{{name}}Service');
const logger = require('../../helpers/logger');

/**
 * Controllers
 */

exports.get = function get(req, res, next) {
    {{name}}Service.list()
    .then(({{nameLower}}) => {
      logger.success('{{name}} listed successfully');
      res.json({{nameLower}});
    })
    .catch(err => {
      logger.error(err);
      res.send(err);
    });
};

exports.post = function post(req, res, next) {
  {{name}}Service.create(req.body)
    .then(({{nameLower}}) => {
      logger.success('{{name}} created successfully');
      res.json({{nameLower}});
    })
    .catch(err => {
      logger.error(err);
      res.send(err);
    });
};

exports.getBy = function getBy(req, res, next) {
  {{name}}Service.byId(req.params.id)
    .then(({{nameLower}}) => {
      logger.success('{{name}} finded Id successfully');
      res.json({{nameLower}});
    })
    .catch(err => {
      logger.error(err);
      res.send(err);
    });
};

exports.put = function put(req, res, next) {
  {{name}}Service.update(req.params.id, req.body)
    .then(({{nameLower}}) => {
      logger.success('{{name}} updated successfully');
      res.json({{nameLower}});
    })
    .catch(err => {
      logger.error(err);
      res.send(err);
    });
};

exports.remove = function remove(req, res, next) {
  {{name}}Service.remove(req.params.id)
    .then(({{nameLower}}) => {
      logger.success('{{name}} removed successfully');
      res.json({{nameLower}});
    })
    .catch(err => {
      logger.error(err);
      res.send(err);
    });
};