/**
 * Model
 */
const {{name}}Model = require('../models/{{name}}Model');

/**
 * Service Definition
 */

class {{name}}Service {
  static list() {
    const {{name}} = {{name}}Model;
    return {{name}}.find({});
  }

  static create(body) {
    const {{name}} = new {{name}}Model(body);
    return {{name}}.save();
  }

  static byId(id) {
    const {{name}} = {{name}}Model;
    return {{name}}.findById({
        _id: id,
    });
  }

  static update(id, body) {
    const {{name}} = {{name}}Model;
    return {{name}}.findOneAndUpdate(
      { _id: id },
      body,
      { upsert: true, new: true }
    );
  }

  static remove(id) {
    const {{name}} = {{name}}Model;
    return {{name}}.remove({
        _id: id,
    });
  }
}

/**
 * Expose Service
 */

module.exports = {{name}}Service;
